:root{
    --primery-color:#3454d1;
    --secondery-blue-color:#34d1bf;
    --ourlight-color:#efefef;
    --dark-color:#070707;
}
.bg-primery{
    background-color:var(--primery-color)!important;
}
.bg-ourLight{
    background-color:var(--ourlight-color)!important;
}
@media only screen and (max-width: 600px) {
    #content1,#content2,#content3{
        font-size: 8px !important;
        width: 150px !important;
        height: 100px !important;
        top:20% !important;
    }
    /* @keyframes content1 {
        from{
        left: -100vw;
        }to{
        left: 100px !important;
        }
    }
  @keyframes content2 {
    from{
    left: -100vw;
    }to{
    right: 100px !important;
    }
    }
    @keyframes content3 {
        from{
        left: -100vw;
        }to{
        left: 100px !important;
        }
    } */
    .btn{
        font-size:12px !important;
    }
}
/*slider animation*/
.slider-animation{
    animation: fadein 2s;
    opacity: 0;
}
@keyframes fadein{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.slider-content{
    display: none;
    position: absolute;
}
#content1{
    text-align: justify;
    width: 400px;
    height: 300px;
    font-size: 1.5rem;
    animation: content1 1s;
    top:35%;
    left: -100vw;
    animation-fill-mode: forwards;
}
@keyframes content1 {
    from{
    left: -100vw;
    }to{
    left: 35vw;
    }
}
#content2{
    text-align: justify;
    width: 300px;
    font-size: 1.5rem;
    animation: content2 1s;
    top:35%;
    right: -100vw;
    animation-fill-mode: forwards;
}
@keyframes content2 {
    from{
    left: -100vw;
    }to{
    right:50vw;
    }
}

#content3{
    text-align: justify;
    width: 300px;
    font-size: 1.5rem;
    top:35%;
    left:-1000px;
    animation: content3 1s;
    animation-fill-mode: forwards;
}
@keyframes content3 {
    from{
    left: -1000px;
    }to{
    left: -200px !important;
    }
}

/*slider animation*/

/*my style start*/

.mybackground{
    background-color: var(--primery-color);
    border-radius: 50px;
}
.image-con{
    width:200px;
    height: 150px;
}
.main-container{
    overflow-x: scroll;
    height: 300px;
}
.main-container::-webkit-scrollbar{
    -webkit-appearance: none;
    background-color: var(--ourlight-color);
    border-radius: 25px;
    left: 136px;
    top: 64px;
    position: absolute;
}
.inner-box1{
    background-color: var(--secondery-blue-color);
    width: 100px;
    height: 130px;
    border-radius: 25px;
    left: 136px;
    top: 234px;
    position: absolute;
}
.circle{
    background-color: var(--secondery-blue-color); 
    border-radius: 50%; 
    width: 150px;
    height: 150px;

}
.product-content{
    width: 100%;
    display: block;
}
.content-box{
    height: 80%;
    color: var(--dark-color);
}
#add-Card{
    background-color: var(--primery-color);
    color: var(--ourlight-color);
}
#add-Card:hover{
    background-color: var(--secondery-blue-color);
}